body{
	background-image: url('http://pds.exblog.jp/pds/1/200907/31/80/d0146980_23445722.jpg');
	background-size: cover;
   }
.a
{
	max-width:900px;
	margin: auto;
}
.b{
	display: flex;
	flex-width: wrap;
        width:100%;
}
.c
{
	flex-basis: 100%;
}
@media screen and(max-width: 650px)
{
.logo{
	        width: 45%;
		height: 50%;
		float: left;
 		}
	.c{
		flex-basis: 80%;
		}
	.g{
		width: 80%;
		}
	.i{
		width: 100%;
		height: 50%;
		display: block;
		}
}
.d{
	text-align: right;
	float: right;
	color: white;
}


.e{
 	font family:'Broadway', Courier, monospace;
	color: white;
}
.f{
 	font family:'Broadway', Courier, monospace;
	color: white;
}
.h
{
    font-family: 'Cooper Black';
    color: white;
    text-decoration: underline;
    font-size: 20px;
}
.g
{
   max-width: 100%;
   
   display: block;
}
.i
{
    width: 100%;
    height: 50%;

    display: block;
}
.logo
{
    display: block;
    height: 150px;
    width: 150px;
}
p{
color: white;
text-decoration: underline;
}
